.navbar {
    height: 80px;
    background-color: #ffffff; /* Background color */
    display: flex;
    width: 100%; /* Full width of the browser window */
    align-items: center;
}

.plotWB {
    text-align: center;
    margin-top: 500px;
}

.plotSE {
    text-align: center;
    margin-top: 350px;
}

.plotSC {
    text-align: center;
    margin-top: 430px;
}

.linked-img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.git-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.nav-link {
    margin-right: 20px; /* Spacing between navigation items */
    color: rgb(21, 113, 119); /* Text color of the items */
    text-decoration: none; /* Remove link underline */
}

.nav-link:hover {
    color: #17c6d3; /* Text color on hover */
}

.navbar-left {
    flex-grow: 1;
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
}

.navbar-right {
    flex-grow: 0; /* Doesn't take up space when aligned */
}

.dropDownSE {
    width: 300px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    height: 600px; /* Fixed height in pixels */
}

.dropDownBW {
    width: 17%;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    height: 600px; /* Fixed height in pixels */
}

.dropDownSC {
    width: 17%;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    height: 600px; /* Fixed height in pixels */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Container height equals screen height */
}

.main-div {
    display: flex;
}

.graph-class {
    width:99%; /* Graph width equals parent container width */
    height: 100%; /* Graph height equals parent container height */
}

.graph-div {
    width: 1820px;
    height: 100vh;
}

@media (min-width: 904px) and (max-width: 1849px) {
    .graph-div {
        width:  100%;
        height: 100vh;
    }

    .plotWB {
        text-align: center;
        margin-top: 25px; /* Example margin value for .plotWB class when window width is less than 1165 pixels */
    }

    .plotSE {
        text-align: center;
        margin-top: 26px; /* Example margin value for .plotSE class when window width is less than 1165 pixels */
    }

    .plotSC {
        text-align: center;
        margin-top: 30px; /* Example margin value for .plotSC class when window width is less than 1165 pixels */
    }

    .dropDownSE {
        width: 100%;
        margin-top: 40px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        height: 250px; /* Fixed height in pixels */
    }

    .dropDownBW {
        width: 100%;
        margin-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        height: 100px; /* Fixed height in pixels */
    }

    .dropDownSC {
        width: 100%;
        margin-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        height: 180px; /* Fixed height in pixels */
    }

    .main-div {
        display: block;
    }
}

@media (min-width: 10px) and (max-width: 903px) {
    .graph-div {
        width: 900px;
        height: 100vh;
    }

    .plotWB {
        text-align: center;
        margin-top: 25px; /* Example margin value for .plotWB class when window width is less than 1165 pixels */
    }

    .plotSE {
        text-align: center;
        margin-top: 26px; /* Example margin value for .plotSE class when window width is less than 1165 pixels */
    }

    .plotSC {
        text-align: center;
        margin-top: 30px; /* Example margin value for .plotSC class when window width is less than 1165 pixels */
    }

    .dropDownSE {
        width: 760px;
        margin-top: 40px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        height: 250px; /* Fixed height in pixels */
    }

    .dropDownBW {
        width: 760px;
        margin-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        height: 100px; /* Fixed height in pixels */
    }

    .dropDownSC {
        width: 760px;
        margin-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        height: 180px; /* Fixed height in pixels */
    }

    .main-div {
        display: block;
    }
}